<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>New message</title>
</head>
<body>
    <div class="main input">
        <form action="/new" method="post">
            <h3>New message</h3>
            <input type="text" placeholder="User name" name="user" required>
            <textarea type="text" placeholder="Your message" name="text" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>